.home-hero1{
    margin: 0 160px;
    zoom: 90%;
}
.home-wrap-hero1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgheroGridwrap{
    display: flex;
    zoom: 82%;
    gap: 30px;
}
.info-hero1{
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 400px;
    flex-direction: column;
    padding-top: 18vh;
}
.img-hero{
    padding-top: 28vh;
}
.title-hero1{
    font-size: 3rem;
}


.imggrids{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
}
.imgrid1, .imgrid2, .imgrid3{
    border-radius: 20px;
    background-color: black;
    width: 280px;
}
.imgrid1{
    height: 320px;
}
.imgrid2{
    height: 380px;
}
.imgrid3{
    height: 520px;

}
.about{
    padding: 180px 0 120px;
}
.about_title{
    text-align: center;
    display: flex;
    justify-content: center;
}
.about_subText{
    text-align: center;
    width: 550px;
    padding-top: 40px;
}
.about_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_imgWrap{
    padding-top: 60px;
    display: flex;
    justify-items: center;
    gap: 80px;
}
.about_imgBox{
    height: 350px;
    width: 220px;
    border-radius: 50px;
    background: black;
}

.services{
    margin: 100px 120px;
}
.services_subText{
    width: 500px;
}
.topImg_serGrid{
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.services_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topImg_serGrid .serviceGrid_box:nth-child(1){
    height: 180px;
    width: 260px;
    background-color: black;
    border-radius: 20px;
}
.topImg_serGrid .serviceGrid_box:nth-child(2){
    height: 280px;
    width: 180px;
    background-color: black;
    border-radius: 20px;
}
.bottomImg_serGrid{
    display: flex;
    margin-top: 22px;
    gap: 20px;
    align-items: flex-start;
}
.bottomImg_serGrid .serviceGrid_box:nth-child(2){
    height: 160px;
    width: 240px;
    background-color: black;
    border-radius: 20px;
}
.bottomImg_serGrid .serviceGrid_box:nth-child(1){
    height: 280px;
    width: 200px;
    background-color: black;
    border-radius: 20px;
}